<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.dwardu.nasa_wallpaper</string>
		<key>Program</key>
		<string>~/github/dotfiles/tools/files/set_nasa_wallpaper.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>28800</integer>
	</dict>
</plist>
